.social {
    color: black;
}

.nav-pills .nav-link {
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.nav-pills .nav-link.active {
    background-color: black;
    color: white;
}
