{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
<div class="px-4 pt-5 my-5 text-center border-bottom">
    {% if not submitted %}
    <h1 class="display-4 fw-bold text-body-emphasis">Need Something from Me?</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Quickly and easily contact me by filling out the form below, and I will respond to you as
            soon as possible! I am always happy to help!</p>
    </div>
    {% else %}
    <h1 class="display-4 fw-bold text-body-emphasis">Message Sent Successfully</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">I will respond to you as soon as I can! Regularly check your email.</p>
    </div>
    {% endif %}
    <div class="overflow-hidden" style="max-height: 50vh;">
        <div class="container px-5">
            <img src="{{ url_for('static', filename='images/black_telephone.jpg') }}"
                 class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image"
                 width="700" height="500" loading="lazy">
        </div>
    </div>
    <div class="container mt-5 text-start" style="max-width: 600px;">
        {{ render_form(form, novalidate=True) }}
        <br>
    </div>
</div>
{% endblock %}